<!DOCTYPE html>
<html lang="en" ng-app="GiphyApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- bootstrap CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="/index.js"></script>
</head>

<body ng-controller="GiphyCtrl as giphyCtrl">
    <div class="container">
        {{giphyCtrl}}
        <h1><code>Hello World</code></h1>
        <div class="row">
            <div class="col-md-12">
                <form name="searchForm" novalidate class="form-inline" ng-submit="giphyCtrl.search()">
                    <!--<div class="form-group">-->
                    <div class="input-group">
                        <input type="text" class="form-control" name="subject" required ng-model="giphyCtrl.subject">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success">Search</button>
                        </span>
                    </div>
                    <!--</div>-->
                    <div class="row">
                        <div class="col-md-12">
                            <!--<img src="/images.jpg">-->
                            <img class="img-responsive img-thumbnail" ng-src="{{giphyCtrl.image}}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--<input type="text">-->
        <!--<input type="button" value="Search">-->
    </div>
</body>

</html>